*
!./.gitignore
!*/
!wp-content/themes/multinews/framework/inc/sidebar_generator.php
!wp-content/themes/multinews/framework/widgets/ads-widget.php
!wp-content/themes/multinews/framework/widgets/comments-widget.php
!wp-content/themes/multinews/framework/widgets/fb_likebox.php
!wp-content/themes/multinews/framework/widgets/flickr.php
!wp-content/themes/multinews/framework/widgets/google-plus.php
!wp-content/themes/multinews/framework/widgets/login.php
!wp-content/themes/multinews/framework/widgets/mix-cloud.php
!wp-content/themes/multinews/framework/widgets/newsletter.php
!wp-content/themes/multinews/framework/widgets/posts-widget.php
!wp-content/themes/multinews/framework/widgets/postsImages-widget.php
!wp-content/themes/multinews/framework/widgets/postsLists-widget.php
!wp-content/themes/multinews/framework/widgets/related-posts-widget.php
!wp-content/themes/multinews/framework/widgets/reviews.php
!wp-content/themes/multinews/framework/widgets/slider-widget.php
!wp-content/themes/multinews/framework/widgets/social-counter.php
!wp-content/themes/multinews/framework/widgets/social-widget.php
!wp-content/themes/multinews/framework/widgets/soundcloud.php
!wp-content/themes/multinews/framework/widgets/twitter.php
!wp-content/themes/multinews/framework/widgets/video-widget.php
!wp-content/themes/multinews/framework/widgets/weather-widget.php
!wp-content/themes/multinews/framework/metaboxes/momizat-class/MetaBox.php